#editor-container {
  height: 50vh;
  width: 50vw;
}

#editor {
  margin-top: 50px;
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.ace_gutter-cell.ace_breakpoint {
  background-repeat: no-repeat;
  background-image: url("../assets/breakpoint.png");
  background-size: 16px 16px;
  background-position: 3px center;
}
